body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

button {
    height: 45px;
    width: 110px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18pt;
    background-color: #445;
    border-radius: 2em;
    border-color: red;
    color: #FFF;
}